.Error404{
    position: fixed;
    background-color: rgb(224 242 254);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.Error404_imgContainer{
    position: relative;
    width: 60%;
}
.Error404_imgContainer::after{
    content: '4';
    position: absolute;
    width: 50%;
    height: 90%;
    top: 0%;
    left: -30%;
    font-size: 40cqi;
    text-align: center;
    line-height: 0.4;
}
.Error404_imgContainer::before{
    content: '4';
    position: absolute;
    width: 50%;
    height: 90%;
    top: 0%;
    right:-30%;
    font-size: 40cqi;
    text-align: left;
    line-height: 1.7;
}
.Error404_txtA{
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 5cqi;
    font-weight: 500;
}
.Error404_img{
    width: 100%;
}
.Error404_txtB{
    position: absolute;
    bottom: 0%;
    font-size: 2cqi;
    white-space: nowrap;
    font-weight: 500;
    background-color: rgb(77, 78, 80);
    color: whitesmoke;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 1vmax;
    transform: scale(1);
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.Error404_txtB:hover{
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.1);
}

@media screen and (min-width:2000px) {
    .Error404_imgContainer::after,
    .Error404_imgContainer::before{
        font-size: 20cqi;
        text-align: center;
        line-height: normal;
    }
    .Error404_imgContainer::after{
        top: 0%;
        left: -20%;
    }
    .Error404_imgContainer::before{
        top: 0%;
        right:-20%;
    }
}