
.sidebar{
    position: relative;
    width: 7%;
    height: 100%;
    overflow: hidden;
    padding: 0.3%;
    padding-right: 0.15%;
    display: flex;
}
.sidecontainermrg{
    background-color: #e4e3e8;
    border-radius: 1dvb;
    box-sizing: border-box;
    padding: 3.5%;
    position: relative;
    gap: 0.25%;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;
}