.Landing {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-bottom: 5vh;
  /* background-color: rgb(184, 212, 255);  */
  background-image: url(https://plus.unsplash.com/premium_photo-1671496450438-6a9c90ab87a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80);
  animation: fadeInUp 0.6s ease-in-out;
}
@keyframes fadeInUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
    filter: blur(5px)
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    
    filter:blur(0px);
  }
}

.nav {
  height: 7vh;
  position: sticky;
  top: 0%;
  background-color: rgba(230, 240, 255, 1);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 100%;
  justify-content: start;
  z-index: 7;

}

.nav h1 {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0.5rem;
  text-align: end;
  font-size: 1.9rem;
  font-weight: 600;
}

.secbtns1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 0.5rem;
}

.btnsnav {
  height: 35px;
  margin-left: 0.5em;
  width: calc(40% / 4);
  transform: scale(1);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.5em;
  font-weight: 500;
  font-size: 17px;
  /* transition: transform 300ms  cubic-bezier(0.58, -0.55, 0.265, 1.55); */
  font-family: 'Varela Round', sans-serif;

  transition: all 300ms ease;

}

.btnsnav:focus:after,
.btnsnav:hover:after {
  width: 100%;
  left: 0%;
}

.btnsnav:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #000000;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.sesionbtns {
  margin-left: 3.7em;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
}


.Register {
  color: rgb(255, 255, 255);
  padding: 0.7dvb;
  width: 100px;
  border-radius: 0.7em;
  background-color: rgb(0, 118, 168);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-weight: 400;
  font-family: 'Unbounded', sans-serif;
  transition: all 0.3s ease;
}

.Register:hover {
  background-color: rgb(0, 70, 100);
}

/* .letter{
    display: flex;
    animation: lttFlt 8s cubic-bezier(0.45, 0.31, 0.59, 1.5) infinite both;
}
@keyframes lttFlt {
    1% {
      transform: translateY(-50%);
    }
    7%{
        transform: translateY(0%);
    }
  } */

/* <---------------------------------SEC1--------------------------------------------> */


.sec1 {
  background-color: rgba(230, 240, 255, 1);
  height: 70vh;
  max-width: 100%;
  box-sizing: border-box;
  padding-left: 20%;
  padding-top: 10vh;
  margin-bottom: 5vh;
  background-image: url(https://i.ibb.co/m5G5pCx/blue-dog2.png);
  background-blend-mode: darken;
  background-position: top;
  background-position-x: 100%;
  background-repeat: no-repeat;
  border-radius: 0px 0px 100px 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.sec1 span:nth-child(1) {
  color: rgba(104, 118, 144, 1);
  font-family: 'Varela Round', sans-serif;
}

.sec1 h2:nth-child(2) {
  color: rgba(0, 3, 54, 1);
  font-size: 7dvh;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 10vh;
  font-family: 'Unbounded', sans-serif;

}

.sec1 p:nth-child(3) {
  width: 40%;
  color: rgba(90, 100, 115, 1);
  margin-bottom: 3rem;
  margin-top: -4%;
  font-family: 'Varela Round', sans-serif;
}

.sec1 button:nth-child(4) {
  color: white;
  padding: 1rem;
  border-radius: 0.7dvh;
  background-color: rgba(0, 3, 54, 1);
  font-family: 'Varela Round', sans-serif;

}

/* <---------------------------------SEC2--------------------------------------------> */

.sec2 {
  left: 5%;
  width: 90%;
  height: 65vh;
  box-sizing: border-box;
  padding-top: 5vh;
  margin-bottom: 5vh;
  position: relative;
  background-color: rgba(230, 240, 255, 1);
  border-radius: 200px 200px 200px 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.sec2txP {
  display: block;
  text-align: center;
  font-size: 3rem;
  color: rgba(0, 3, 54, 1);
  font-weight: 300;
  font-family: 'Unbounded', sans-serif;
}

.sec2txS {
  display: block;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.sec2indicatiosnContainer {
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  box-sizing: border-box;
  padding-left: 20%;
  padding-right: 20%;
  text-transform: capitalize;
  margin-top: 1rem;
}

.sec2indicatiosnContainer div {
  background-color: white;
  width: calc(90% / 3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-top: 5%;
  padding-bottom: 5%;
}

.sec2indicatiosnContainer div div {
  display: block;
  width: 100%;
  font-size: 1cqi;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 1rem;
}

.sec2_idication1 {
  box-shadow: 0px 0px 11px -4px gray;
  font-family: 'Varela Round', sans-serif;
  height: 190px;
  border-radius: 50px 5px 5px 50px;
}

.sec2_idication2 {
  box-shadow: 0px 0px 11px -4px gray;
  font-family: 'Varela Round', sans-serif;
  height: 190px;
  border-radius: 10px 10px 10px 10px;
  transition: all 0.3s ease;
}


.sec2_idication3 {
  box-shadow: 0px 0px 11px -4px gray;
  font-family: 'Varela Round', sans-serif;
  height: 190px;
  border-radius: 5px 50px 50px 5px;
}

.sec2_idication1 img {
  position: absolute;
  top: 2%;
  height: 9em;
  mix-blend-mode: multiply;

}

.sec2_idication2 img {
  position: absolute;
  top: 10%;
  height: 8em;
  mix-blend-mode: multiply;
}

.sec2_idication3 img {
  position: absolute;
  top: 5%;
  height: 10em;
  mix-blend-mode: multiply;
}

/* <---------------------------------SEC3--------------------------------------------> */

.sec3 {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
  box-sizing: border-box;
  padding-top: 10vh;
  background-color: rgba(230, 240, 255, 1);
  border-radius: 100px 100px 30px 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.sec3InfoC {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  margin-bottom: 3vh;
}

.sec3InfoC div {
  display: flex;
  justify-content: space-between;
}

.sec3tll {
  display: block;
  text-align: start;
  font-size: 2.5rem;
  color: rgba(0, 3, 54, 1);
  font-weight: 400;
  font-family: 'Unbounded', sans-serif;
}

.sec3stx {
  display: block;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.sec3vwall {
  font-family: 'Varela Round', sans-serif;
  border-radius: 0.2em;
  color: rgb(29, 29, 29);
  width: 210px;
  border: 2px black;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

.sec3PSContainer {
  width: 70%;
  height: 65%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

/* pablo */

.Textos {
  margin-top: 47%;
  background-color: transparent;
  font-size: 18px;
  color: rgb(39, 39, 39);
 
}

.howButtons {
  font-size: 15px;
  background-color: rgb(200, 200, 200);
  text-transform: uppercase;
  width: 125px;
  border-radius: 0.6em;
  margin-top: 35px;
}


.img2{
  transform: scale(0.65);
  margin-top: -2.7em;
  margin-left: 0.9em;
  opacity: 410%;
}